
<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
      <mat-form-field>
          <input
           matInput
           type="text"
           name="title"
           ngModel
           required
           placeholder="Post Title"
           #title="ngModel"
           >
           <mat-error *ngIf="title.invalid"> Please enter valid values !</mat-error>
        </mat-form-field>

        <mat-form-field>
            <!-- <textarea name="" id="" cols="" rows="6" #postInput> </textarea> -->
            <textarea
             matInput
             rows="6"
             name="content"
             ngModel
             required
             placeholder="Post Content"
             #content="ngModel"
            > </textarea>
            <mat-error *ngIf="content.invalid"> Please enter valid values !</mat-error>
        </mat-form-field>
        <button
        mat-raised-button
        color="primary"
        type="submit"
        >SAVE post</button>
  </form>

</mat-card>


