
<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
      <mat-form-field>
          <input
           matInput
           type="text"
           name="title"
           ngModel
           >
        </mat-form-field>

        <mat-form-field>
            <!-- <textarea name="" id="" cols="" rows="6" #postInput> </textarea> -->
            <textarea
             matInput
             rows="6"
             name="content"
             ngModel
            > </textarea>
        </mat-form-field>
        <button
        mat-raised-button
        color="primary"
        type="submit"
        >SAVE post</button>
  </form>

</mat-card>


